@import "@/styles/mixins";
@import "@/styles/variables";

.btn__container {
	@include flex(center, flex-start);

	&__icon {
		font-size: 1.25rem;
		margin-right: 0.8rem;
	}
}

.btn__setting {
	cursor: pointer;
	background-color: $cl-neutral-5;
	border-radius: 0.75rem;
	padding: 0.5rem 0.5rem 0.25rem;
}
