@import "@/styles/mixins";
@import "@/styles/variables";

.container {
	display: flex;
	cursor: pointer;

	&__box {
		@include flex(center, flex-start);
		gap: 1rem;
		flex: 1;

		&__avatar {
			max-width: 200px;
			border-radius: 0.5rem;
			overflow: hidden;
			width: 3rem;
			height: 3rem;
			flex-shrink: 0;
		}

		&__content {
			flex: 1;

			&__title {
				color: $cl-neutral-100;
				font-weight: $fw-bold;
				line-height: $lh-body-1;
				font-size: $fs-body-1;
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
			}

			&__message {
				color: $cl-neutral-40;
				font-size: $fs-body-2;
				line-height: $lh-body-2;
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
			}
		}
	}

	&__timeAgo {
		flex-shrink: 0;
		color: $cl-neutral-40;
		font-size: $fs-body-2;
		line-height: $lh-body-2;
	}
}
