@import "@/styles/variables";
@import "@/styles/mixins";

.container {
  margin-bottom: 0.5rem;

  &__have {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 1rem;
    overflow: auto;
    border-radius: 0.5rem;
    background-color: $cl-neutral-5;
    max-height: 8rem;

    &__btn {
      color: $cl-neutral-100;
      gap: 0.5rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      font-size: $fs-h5;
      line-height: $lh-h5;
      letter-spacing: 0.5px;
      @include flex(center, flex-start);
      background-color: $cl-primary-50;
    }
  }

  &__empty {
    padding-block: 1rem;
    text-align: center;
    text-transform: uppercase;
    background-color: $cl-neutral-5;
    border-radius: 0.375rem;
  }
}

.form {
  margin-bottom: 8px;

  &__btn {
    margin-top: 20px;
    background-color: $cl-main-purple;
  }
}
