@import "@/styles/mixins";
@import "../../../styles/variables";

.container {
	@include flex(center, center);
	flex-direction: column;
	flex: 1;
	row-gap: 0.5rem;

	&__title {
		font-size: 0.75rem;
		line-height: 1rem;
	}

	.active {
		color: $cl-primary-50;
	}

	.disabled {
		color: $cl-neutral-40;
	}
}
