@import "@/styles/variables";
@import "@/styles/mixins";

.container {
	background-color: $cl-white;

	&__content {
		padding-bottom: 6rem;
		height: 100vh;

		&__title {
			margin-bottom: 34px;

			&__btn {
				padding: 0.5rem;
			}
		}

		&__form {
			display: flex;
			position: relative;
			flex-direction: column;
			margin-bottom: 1.5rem;
			gap: 1rem;
		}
	}
}
