@import "@/styles/variables";
@import "@/styles/mixins";

.swipe {
	position: relative;
	padding: 0 1rem;

	&__box {
		padding-block: 7px !important;
		margin-bottom: 1.5rem;

		&__wrap {
			@include flex(center, space-between);

			h1 {
				font-weight: $fw-extrabold;
				font-size: $fs-h2;
				color: $cl-primary-50 !important;
				font-family: $ff-secondary;
				line-height: 2.5rem;
			}
		}
	}

	&__notif{
		&__container{
			height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;
		& > h3{
			color: $cl-main-purple;
		}
		}
	}
}
