@import "@/styles/variables";
@import "@/styles/mixins";

.container {
  position: fixed;
  inset: 0;
  z-index: 10;
  overflow-y: auto;
  margin: 0 1.25rem;

  &__content {
    @include flex(center, center);
    min-height: 100vh;

    &__block {
      position: fixed;
      inset: 0;
      background-color: black;
      opacity: 0.25;
    }

    &__dialog {
      position: relative;
      z-index: 50;
      width: 100%;
      padding: 1rem;
      background-color: $cl-white;
      border-radius: 1rem;
      max-width: 28rem;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);

      &__title {
        font-weight: $fw-bold;
        margin-bottom: 1rem;
        font-size: $fs-h5;
        line-height: $lh-h5;
      }

      &__btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 2rem;
        height: 2rem;
        color: $cl-white;
        @include flex(center, center);

        border-radius: 50%;
        background-color: $cl-danger;
        // tach ra
        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke, opacity, box-shadow, transform,
          filter, backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        transition-duration: 200ms;
      }
    }
  }
}
