@import "@/styles/variables";
@import "@/styles/mixins";

.content {
	position: relative;
	min-height: 100vh;

	&__arrow {
		margin-bottom: 2rem;
	}

	&__btn {
		padding: 0.5rem;
	}

	&__body {
		div {
			margin-bottom: 1.5rem;
		}

		&__key {
			padding: 1rem;
			height: 6rem;
			width: 6rem;
			border-radius: 1.5rem;
			background-color: $cl-neutral-5;
		}

		&__wrap {
			h4 {
				margin-bottom: 0.25rem;
				color: $cl-neutral-100;
			}
			p {
				color: $cl-neutral-40;
				font-size: 0.875rem;
				line-height: 1.125rem;
				margin-bottom: 1.5rem;
			}

			&__inputOTP {
				margin-left: 10px;

				input {
					background-color: $cl-neutral-20;
					text-align: center;
					width: 1rem !important;
					height: 1rem;
					border-radius: 50%;
					margin-right: 0.875rem;
				}
			}
		}

		&__resend {
			color: $cl-resend;
			font-size: 0.875rem;
			line-height: 1.125rem;
			text-decoration-line: underline;
			float: right;
			padding: 0.25rem 0.5rem 0.25rem 0;
		}

		&__input {
			@include flex(center, flex-start);
			background-color: $cl-neutral-5;
			padding: 0.5rem 1rem;
			gap: 1rem;
			border-radius: 0.625rem;

			svg {
				flex-shrink: 0;
			}

			input {
				flex: 1;
				background-color: transparent;
			}
		}
	}

	&__verify {
		position: absolute;
		left: 0;
		bottom: 1rem;
	}
}
