@import "@/styles/variables";
@import "@/styles/mixins";

.container {
	.content {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		background-color: $cl-neutral-5;
		padding: 0.5rem 0.625rem;
		border-radius: 0.5rem;

		&__title {
			font-size: 0.75rem;
			line-height: 1rem;
			color: $cl-neutral-40;
		}

		&__danger {
			color: $cl-danger;
		}

		&__input {
			width: 100%;
		}
	}

	&__error {
		color: $cl-danger;
		font-size: $fs-small-b;
		line-height: $lh-small-b;
		padding-left: 0.5rem;
		font-weight: $fw-medium;
	}
}
