@import "@/styles/variables";
@import "@/styles/mixins";

.container {
	position: relative;
	border-radius: 2.5rem;
	height: $h-swipe;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: 10;
		border-radius: 2.5rem;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.7038165608040091) 0%, rgba(255, 255, 255, 0) 60%);
	}

	&__image {
		width: 100%;
		height: 100%;

		img {
			border-radius: 2.5rem;
			object-fit: cover;
		}
	}

	&__content {
		position: absolute;
		bottom: 0;
		z-index: 20;
		width: 100%;
		padding-inline: 1rem;

		&__box {
			@include flex(center, space-between);
			margin-bottom: 0.5rem;

			h3 {
				color: $cl-white;
			}
		}

		&__location {
			@include flex(center, flex-start);
			background-color: $cl-white;
			gap: 0.5rem;
			margin-bottom: 1.75rem;
			padding: 0.25rem 0.5rem;
			border-radius: 25px;
			width: fit-content;

			span {
				font-size: $fs-caption-1;
				line-height: $lh-caption-1;
			}
		}

		&__boxButton {
			@include flex(center, center);
			gap: 2.5rem;
			margin-bottom: 1.5rem;
		}
	}
}
