@import "@/styles/variables";
@import "@/styles/mixins";

.container {
	position: relative;
	background-color: $cl-white;

	&__btnLocation {
		position: absolute;
		z-index: 500;
		top: 1rem;
		right: 1rem;
		padding: 0.5rem;
		border-radius: 0.125rem;
		box-shadow: $shadow-md;
		border: 2px solid #f1f5f9;
		background-color: $cl-white;

		&::first-letter {
			font-weight: $fw-bold;
		}
	}

	&__btnNext {
		position: absolute;
		z-index: 500;
		top: 4rem;
		right: 1rem;
		padding: 0.5rem;
		border-radius: 0.125rem;
		box-shadow: $shadow-md;
		border: 2px solid #f1f5f9;
		background-color: $cl-white;

		&::first-letter {
			font-weight: $fw-bold;
		}
	}

	&__btnPrev {
		position: absolute;
		z-index: 500;
		top: 6rem;
		right: 1rem;
		padding: 0.5rem;
		border-radius: 0.125rem;
		box-shadow: $shadow-md;
		border: 2px solid #f1f5f9;
		background-color: $cl-white;

		&::first-letter {
			font-weight: $fw-bold;
		}
	}

	&__mapContainer {
		height: 100vh;
		width: 100%;
	}

	&__notMe {
		position: absolute;
		z-index: 500;
		text-align: center;
		padding: 0.5rem;
		border-radius: 0.375rem;
		background-color: $cl-white;
		color: $cl-red-600;
		box-shadow: $shadow-md;
	}
}
