@import "@/styles/variables";
@import "@/styles/mixins";

.container {
	@include flex(center, flex-start);
	position: absolute;
	z-index: 400;
	bottom: 5rem;
	inset-inline: 1rem;
	padding: 0.5rem;
	gap: 0.5rem;
	border-radius: 1.5rem;
	background-color: $cl-white;

	&__boxImg {
		width: 5.25rem;
		aspect-ratio: 1 / 1;
		flex-shrink: 0;
		border-radius: 1.25rem;
		overflow: hidden;

		&__img {
			border-radius: 1.25rem;
		}
	}

	&__boxInfo {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: $w-mapInfo;

		&__title {
			color: $cl-neutral-100;
		}
	}

	&__boxLocation {
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
		padding: 5px 0.5rem;
		background-color: $cl-neutral-5;
		border-radius: 25px;

		&__title {
			font-size: $fs-body-2;
			line-height: $lh-body-2;
		}
	}

	&__boxBtn {
		position: absolute;
		padding: 0.25rem;
		border-radius: 0.5rem;
		top: 1rem;
		right: 1rem;
	}
}
